<div class="row">

  <div class="span6">
    {{#link-to 'posts.new' class="btn btn-primary"}}New Post{{/link-to}}
    <br /><br />
  </div>

  <div class="span6">
    {{input type="text" class="pull-right" id="search-posts" placeholder="filter titles" value=postsFilter}}
  </div>

</div>

<div class="row">

  <table class="posts span12 align-left">
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Published</th>
      <th>Comments</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    {{#each posts as |post|}}
      <tr class="post">
        <td>{{date-format post.date}}</td>
        <td>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</td>
        <td><span class="btn btn-mini" {{action 'togglePublished' post}}>{{post.published}}</span></td>
        <td><a class="btn btn-mini">manage</a></td>
        <td>{{#link-to 'posts.edit' post class="btn btn-mini"}}edit{{/link-to}}</td>
        <td><span class="btn btn-mini edit" {{action 'delete' post}}>delete</span></td>
      </tr>
    {{/each}}
  </table>

</div>